* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: palegoldenrod;
}

.boxes {
  display: inline-block;
}

#box-1 {
  width: 300px;
  height: 400px;
  margin-left: 450px;
  margin-top: 50px;
}

#box-2 {
  width: 300px;
  height: 400px;
  margin-left: 300px;
  margin-top: 50px;
}

.imge {
  width: 400px;
  height: 400px;
  border: 2px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 0px;
  display: block;
}

.section {
  padding-top: 0px;
  border: 1px solid black;
  width: 400px;
  height: 400px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: lightblue;
}

button {
  text-align: center;
  align-items: center;
  margin-top: 190px;
  margin-left: 130px;
  color: white;
  background-color: lightskyblue;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.5, 1.5);
  box-shadow: 10px 10px 300px 10px #0d4257;
}

.para {
  padding-top: 20px;
  text-align: start;
  margin: 5px;
  word-spacing: 4px;
  line-height: 20px;
}

.boxes:hover {
  box-shadow: 45px 200px 500px 40px #25251c;
  transform: scale(1.1, 1.1);
}
